body ul,
body li {
  list-style: none;
}

body a {
  text-decoration: none;
  color: inherit;
}

body a:hover {
  color: rgb(230, 150, 80);
}

.section {
  text-align: center;
}

.section_img img {
  width: 100%;
  margin: 5px 0 5px 0;
  padding: 0;
}

.article_left,
.article_right {
  display: inline-block;
  border: 1px solid gray;
  padding: 30px;
}

.article_left {
  width: 500px;
  height: 100%;
}

.article_right {
  width: 500px;
  height: 100%;
}
